/PartitionCriticalityFirstComparator.class
/ParitionSmallerPeriodComparator.class
/PartitionLargerPeriodComparator.class
/PartitionSmallerPeriodFirstComparator.class
/PartitionLargerPeriodFirstComparator.class
